@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
    background: #0a0612;
    color: white;
}

.wrapper {
    width: 400px;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 25px;
    color: #a8b2ff;
    font-weight: 700;
}

.input-field {
    position: relative;
    border-bottom: 3px solid #ccc;
    margin: 20px 0;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 18px;
    pointer-events: none;
    transition: 0.15s ease;
    font-weight: 600;
}

.input-field input {
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.input-field input:focus~label,
.input-field input:valid~label {
    font-size: 0.9rem;
    top: 10px;
    transform: translateY(-120%);
}

.forget {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 40px 0;
    color: #fff;
    font-weight: 600;
}

#remember {
    accent-color: #4ecdc4;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
}

.forget label {
    display: flex;
    align-items: center;
}

.forget label p {
    margin-left: 10px;
}

.wrapper a {
    color: #efefef;
    text-decoration: none;
    font-weight: 600;
}

.wrapper a:hover {
    text-decoration: underline;
}

button {
    background: #fff;
    color: #000;
    font-weight: 700;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
    border: 3px solid transparent;
    transition: 0.3s ease;
}

button:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

.register {
    text-align: center;
    margin-top: 35px;
    color: #fff;
    font-weight: 600;
} 